<footer id="site-footer">		
	<div class="container" id="footer-inner">
	<ul id="bottom-nav" class="list-inline">
		<li><a href="{{site_url}}about/">About</a></li>
		<li><a href="{{site_url}}faq/">FAQ</a></li>
		<li><a href="{{site_url}}guidelines">Guidelines</a></li>
		<li><a href="#">Gamer News News</a></li>
		<li><a href="#">Bugs</a></li>
		<li><a href="#">Feature Requests</a></li>
		<li><a href="{{site_url}}bookmarklet">Bookmarklet</a></li>
		<li><a href="{{site_url}}rss/">RSS</a></li>	
		<li><a href="{{site_url}}terms/">Terms</a></li>
		<li class="end-list"><a href="{{site_url}}privacy/">Privacy</a></li>
	</ul>
	
	<small id="copyright">Copyright &copy; <a href="http://underlost.net/">Tyler Rilling</a> {% now "Y" %} — All content &copy; their respective owners. Hosted on <a href="http://heroku.com">Heroku</a>.<br />
	By using this site you are agreeing to the <a href="{{site_url}}terms/">Terms of Use</a> and <a href="{{site_url}}privacy/">Privacy Policy</a>.</small>
	
	<small id="version">Version 0.8.1, "16-Bit Sunset"</small>
	
	</div>
</footer>