# Ignore Folders
_theme_packages/*

#Assets
assets/node_modules/*
assets/dist/*
assets/test-infra/*
assets/validation-report.json
assets/validation-status.json

gamernews/static/css/gamernews-rtl.min.css
gamernews/static/css/gamernews-theme.css.map
gamernews/static/css/gamernews-theme.min.css
gamernews/static/css/gamernews.css.map

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*.pyc
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.rbenv-version
.rvmrc
