
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#tour-head {
	margin-top: -15px;
	margin-bottom: 60px;
	background: url('../img/pages_background.jpg') center repeat-x;
	-webkit-box-shadow: inset 0 0 200px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 200px rgba(0,0,0,.4);
	box-shadow: inset 0 0 200px rgba(0,0,0,.4);
	color: #f2f2f2;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
body.tour .container section#content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
body.tour .container section#content .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
body.tour .container section#content h2 {
  font-weight: normal;
}
body.tour .container section#content .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  body.tour .container section#content {
    padding-left: 0;
    padding-right: 0;
  }
  
  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}