{% extends 'core/base.html' %}{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block page %}login{% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{{site_url}}">Home</a></li>
	<li><a href="{% url 'Core:AccountSettings' %}">Account</a></li>
	<li><a href="{% url 'Core:password_change' %}">Change Password</a></li>
	<li class="active">Success</li>
</ol>

<div class="NarrowWrap">
	<h2>{% trans 'Password change successful' %}</h2>
	<p>{% trans 'Your password was changed.' %}</p>
</div>
{% endblock %}
