{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block page %}login{% endblock %}

{% block header %}
	{% include "_includes/header.html" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2 id="edit-profile">{{ request.user.username }} / Password Change</h2>		
	</div>
	
	<div class="col-md-5 user-list">
		<form class="form-signin" method="post" action="">
		
		{% if form.errors %}
		<div class="alert alert-danger">
			<p>{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}.</p>
		</div>
		{% endif %}
		
		<h3>Password Change.</h3>
		{% csrf_token %}
			
			<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>	    
		   	    	    
		    	{{ form.old_password.errors }}
		    	<label for="id_old_password" class="sr-only">{% trans 'Old password' %}</label>
		    	<input id="id_old_password" class="form-control" maxlength="4096" name="old_password" type="password" placeholder="Old Password"  />
		    
		    	{{ form.new_password1.errors }}
		    	<label for="id_new_password1" class="sr-only">{% trans 'New password' %}:</label>
		    	<input id="id_new_password1" class="form-control" maxlength="4096" name="old_password" type="password" placeholder="New Password"  />
		    
		    	{{ form.new_password2.errors }}
		    	<label for="id_new_password2" class="sr-only">{% trans 'Password (again)' %}:</label>
		    	<input id="id_new_password2" class="form-control" maxlength="4096" name="old_password" type="password" placeholder="New Password (Again)"  />
		    
		   	<input class="btn btn-primary" type="submit" value="Change my password" />
		</form>
	</div>
{% endblock %}