{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block page %}login{% endblock %}

{% block header %}
	{% include "_includes/header.html" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2 id="edit-profile">{{ request.user.username }} / Password Change Complete</h2>		
	</div>
	
	<div class="col-md-5 user-list">
		<h3>{% trans 'Password change successful' %}</h3>
		<p>{% trans 'Your password was changed.' %}</p>
	</div>
{% endblock %}

{% block footer %}
	{% include "_includes/footer.html" %}
{% endblock %}