{% extends "core/base.html" %}{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block page %}login{% endblock %}

{% block content %}
<div class="NarrowWrap">
	<h2>{% trans "Password reset" %}</h2>
	
	<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
	
	<form action="" method="post">{% csrf_token %}
		{{ form.email.errors }}
		<label for="id_email" class="sr-only">{% trans 'Email Address' %}</label>
		<input id="id_email" class="form-control" placeholder="Email address" type="email" name="email" maxlength="255" />
	
		<input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
	</form>
	
</div>
{% endblock %}

