<!DOCTYPE html>
<html lang="en">

<head>{% load cache %}
<title>{% block title %}{% endblock %}{{site_name}}</title>

<!-- Stylesheets -->
<link rel="stylesheet" href="{{STATIC_URL}}css/gamernews.min.css">

<!-- Meta -->
<meta charset="UTF-8" />
<meta name="author" content="{{site_name}}" />
<meta name="description" content="{{site_desc}}" />
<meta name="keywords" content="gamer news, video game news, video games, nintendo, xbox, playstation"  />
<meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />

<!-- Typekit -->
<script type="text/javascript" src="//use.typekit.net/mee3jwy.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-6523793-1']);
_gaq.push(['_setDomainName', 'jadedgamer.org']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</head>

<body class="{% block page %}{% endblock %}">

	{% block header %}{% endblock %}

	<div class="container">
		<section id="content">
		{% if messages %}
		<div class="messages">
		    {% for message in messages %}
		    <div class="alert alert-success">
		    	<button type="button" class="close" data-dismiss="alert">&times;</button>
		    	{{ message }}
		    </div>
		    {% endfor %}
		</div>
		{% endif %}

		{% block content %}{% endblock %}
		</section>
	</div>

	{% block footer %}{% endblock %}

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/global.js"></script>
	{% block extra %}{% endblock %}
</body>
</html>
